//go:build gbt

package main

import (
	"github.com/kcmvp/gos/builder"
	"path/filepath"
	"runtime"
)

func main() {
	_, filename, _, ok := runtime.Caller(0)
	if !ok {
		panic("No caller information")
	}
	root := filepath.Dir(filepath.Dir(filename))
	builder.NewBuilder(root).Run(builder.Clean, builder.Lint, builder.Test, builder.Build)
}
