//go:build testEnv
package infra

import (
	"log"
	{{range $m := .}}
	_ {{$m}}
    {{end}}
)

var testDependencies = []string{
	{{range $m := .}} "{{$m}}" {{end}}
}

func init() {
	for _, dependency := range testDependencies {
		log.Printf("Loading %s \n", dependency)
	}
}
